@import "reset.css";
.underline {
  border-bottom: 1px solid green;
  font-size: 100%;
}
#header {
  color: black;
  border: 1px solid #dd55dd;
}
#header .navigation {
  font-size: 12px;
}
#header .navigation a {
  border-bottom: 1px solid green;
  font-size: 100%;
}
#header .logo {
  width: 300px;
}
#header .logo :hover {
  text-decoration: none;
}
