/*
	CSS for having the menu always opened.
	To use on widescreens only, include it using a mediaquery:
	<link type="text/css" href="mmenu-widescreen.css" media="all and (min-width: 900px)"/>
*/

/* positioning and sizing */
html, body
{
	height: 100%;
}
body
{
	position: relative;
}
#mm-blocker
{
	display: none !important;
}
.mm-page
{
	box-shadow: none !important;
	background: inherit;
	width: 78% !important;
	min-height: 100%;
	margin: 0 !important;
	left: 22% !important;
	top: 0 !important;
	position: relative;
	z-index: 1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


/* forcing transitionend */
html.mm-opened .mm-page
{
	border-color: rgba( 0, 0, 0, 0 );
}
html.mm-opening .mm-page
{
	border-color: rgba( 1, 1, 1, 0 );
}

.mm-menu
{
	position: fixed;
	z-index: 0;
	width: 22% !important;
}
.mm-menu .mm-inner
{
	padding: 0 !important;
}
.mm-menu.mm-top,
.mm-menu.mm-right,
.mm-menu.mm-bottom
{
	top: 0 !important;
	right: auto !important;
	bottom: auto !important;
	left: 0 !important;
}

.mm-menu:first-child,
.mm-menu.mm-opened
{
	display: block;
}