@import url("font-awesome/css/font-awesome.css");
@import url("cssReset+fonts.css");


/*                               GENERAL
/*==========================================================================================*/

    ::selection {     background: #2f6f88; }
    ::-moz-selection{ background: #b7ffb7; }
    
    html {
        overflow-y: scroll; 
        -webkit-font-smoothing: antialiased;
    }

    /**** BASE COLORS ****/

		body > .header,
		#leftPanel, #sidebar.mm-is-menu, #sidebar div.mm-search {
		    background-color: #292318;
		}

		#pageContent {
			background-color: #564933;
		}

		body footer, body, html {
			background-color: #1D1810;	
		}


    body {
    	position: relative;
        font-family: Georgia ,serif;
        font-size: 18px;
        line-height: 1.52;
        text-rendering: optimizeLegibility;
        color: #E0DFD1;
    }

    a {
        color: #EFF1AD;
        -webkit-transition: all .2s ease;
           -moz-transition: all .2s ease;
             -o-transition: all .2s ease;
            -ms-transition: all .2s ease;
                transition: all .2s ease;
        cursor: pointer;
    }

    a:hover {
        color: #BCF5B1;
        text-decoration: underline;
    }

    header .menu,
    #leftPanel,
    #sidebar a,
    article .updated {
    	font-family: 'open_sanscondensed_light';
    }


    .ovf {   overflow: auto; }
    .clearfix { zoom : 1; }

    .clearfix:before, 
    .clearfix:after { content : "\0020"; display : block; height : 0; overflow : hidden; }
    .clearfix:after { clear : both; }

    .left  {   	float: left;    }
    .right {	float: right; 	}
    .show  {	height: auto; display: block;	}
	.hide  {	height: 0px;  display: none;	}


/*                               ELEMENTS
/*==========================================================================================*/

    p {
        margin-bottom: 1.42em;
    }

    pre {
        font-size: .9em;
        overflow: auto;
        background: #2B2B2B;
        border-radius: .35em;
        margin-bottom: 1.5em;
        padding: .2em .1em;
    }

    em {
        color: #666;
        font-size: .9em;
        line-height: 1em;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    h2 {
        /*font-style: italic;*/
        /*text-align: center;*/
        font-weight: 400;
        font-size: 1.3em;
        margin-top: 1em;
        margin-bottom: .8em;
    }

    h3 {
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.43;
        margin-bottom: 1.35em;
    }

    ol,ul {
        margin: 0 1.4em 1.4em 4em;
    }

    li {
        margin-bottom: .5em;
    }

    blockquote {
        margin: 1.2em 3em;
        padding-left: 1em;
        font-style: italic;
    }



#sidebarIcon {
	position: absolute;
	display: none;
	top: .05em; left: .12em;
	bottom: 1em;
	font-size: 26px;
	padding: .4em .5em;
	height: 28px;
	background: #000;
	border-radius: 12px;
	z-index: 99999;
}
#sidebarIcon:hover {
	color: #FFF;
}


/*                               ### HEADER (top menu)
/*==========================================================================================*/

		body > .header {
			margin: 0;
			overflow: hidden;
	    	display: block;
	    	width: 100%;
	    	position: fixed;
	    	z-index: 9999;
		}

	/***** Logo ******/

		body > header .logo {
			display: inline-block;
			float: left;
			width: auto;
			/*overflow: auto;*/
			font-size: .8em;
			padding: .16em 5px 0 5px;
			text-align: center;
			width: 200px;
		}

	    .header h1 {
	        font-weight: 700;
	        margin: 0;
	        padding-left: .1em;
	        letter-spacing: .4em;
	        line-height: 1em;
	    }

	    .header a, .header a:hover {
	        text-decoration: none;
	        color: #ccc;
	    }

	    .header .description {
	        font-size: .64em;
	        font-style: italic;
	        margin: -.4em 0 0em;
	        opacity: 0.5;
	        height: 1em;
	    }



	/***** Menu ******/

		.header .menu {
			/*margin-top: .9em;*/
		    /*border: 1px dashed blue;*/
		    display: block;
		    /*background-color: #4E4E4E;*/
		    float: left;
		    overflow: visible;
			font-family: 'open_sanscondensed_light';
			vertical-align: bottom;
				/*position:absolute;
				bottom:0px;
				left: 8em;*/
					    	margin-top: .8em;
		}

		.header .menu ul {
		    padding: 0;
		    margin: 0;
		    list-style: none;
		}

		.header .menu ul li {
		    padding: 0;
		    margin: 0;
		    display: inline-block;
		    float: left;
		    list-style: none;
		    background-color: #403724;
		    text-align: center;
		    height: 1.9em;
		    /*border-right: 2px solid #9F8142;*/
		}

		.header .menu ul li .showLeftSidebar {
			display: none;
		}

		.header .menu ul li:first-child, .header .menu ul li:first-child a:first-child {
			border-top-left-radius: .4em;
		}

		.header .menu ul li:last-child, .header .menu ul li:last-child a:first-child {
			border: none;
			border-top-right-radius: .4em;
		}

		.header .menu a.nr { border-bottom-left-radius: 0; }

		.header .menu ul li a {
			padding: 0 .6em;
			margin: 0;
		    color: #86B15F;
		    color: #D7C786;
		    display: inline-block;
		    height: 100%;
		}

		.header .menu .active {
			background-color: #4F422F;
		}

		.header .menu ul li span {
		    font-size: .6em;
		}

		.header .menu ul li:hover,
		.header .menu ul li a:hover {
		    color: #fff;
		    background-color: #4F422F;
		}

		.header .menu .active,
		.header .menu li,
		.header .menu a {
			border-top-left-radius: .4em;
			border-top-right-radius: .4em;
		}



		.header .menu .nr {
			position: relative;
			top: -1em;
			/*right: -.64em;*/
			margin-left: -1em;
			display: inline-block;
			/*float: right;*/
			padding: .16em;
			background-color: #C52323;
			color: white;
			width: 1.6em;
			height: 1.4em;
			font-size: .6em;
			border-radius: 1em;
			/*width:0;
			height: 0;
			display: none;*/
		}

		.header .menu ul li a.nr:hover {
		    background-color: #FF1515;
		}



	/***** Search ******/
		.header .search {
		    float: right;
		    display: none;
		}

		.header .search form {
		    display: inline-block;
		}

		.header .search input {
		    padding: 6px;
		    border: 0px solid #C5C5C5;
		    color: #030;
		    background-color: #9ac497; 
		    font-size: .7em;
		    margin-top: 1em;
		}
		.header .search .feed_icon {
		    display: inline-block;
		    margin-right: .2em;
		}
		.header .search input::-webkit-input-placeholder { /* WebKit browsers */  color:    #eee;    }
		.header .search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */    color:    #eee;    }
		.header .search input::-moz-placeholder { /* Mozilla Firefox 19+ */       color:    #eee;    }
		.header .search input:-ms-input-placeholder { /* Internet Explorer 10+ */ color:    #eee;    }





/*                               ### BODY
/*==========================================================================================*/


	/***** Left Panel (sidebar) ******/

		#sidebar {
			padding-top: 2.8em;
		}

		#sidebar .nav li:first-child {
			position: static;
		}

		#sidebar .closeSidebar {
			display: none;
			/*display: inline-block;*/
			float: right;
			/*position: absolute;*/
			color: #B5B5B5;
			background: rgba(200,200,200,.1);
			font-size: 26px;
			margin: .5em .2em;
			padding: .2em .0em;
			width: 2em;
			text-align: center;
			border-radius: 10px;
			margin-top: .2em;
			/*margin-bottom: -1em;*/
			z-index: 99999;
			text-decoration: none;
			overflow: hidden;
		}
		#sidebar .closeSidebar:hover {
			background: #73150B;
			color: #FFF;
		}

		#sidebar li a,
		#sidebar span {
			font-size: 140%;
		}

		#sidebar li:hover {
			background: rgba(0,0,0,.1);
		}

		#leftPanel {
			/* background color is defined in section GENERAL > BASE COLORS */
			margin-top: 3em;
			display: inline-block;
			float: left;
			position: fixed;
			width: 210px !important;
			height: 100%;
			border-top: 2px dashed #4F422F;
			color: #927E56;
		}
		#leftPanelx {
			/* background color is defined in section GENERAL > BASE COLORS */
			margin-top: 2.72em;
		}

			#scrollable {
			    /*overflow-y: scroll;*/
			    /*max-height: 100%;*/
			    padding: 1em 10px;
			    height: 10em;
			    /* !!! TODO !!!  height = document.height - horne menu; */
			    height: 80%;
			    /*height: auto;*/
			    overflow: auto;
			}

			body > footer {
				/*padding-left: 220px;*/
			}



	/***** CONTENT ******/

		#pageContent {
			min-height: 5em;
		}



		#mainContent {
			padding-top: 4em;
			/*margin-left: 220px;*/
			display: block;
			height: auto;
			overflow: auto;
		}

	    #mainContent > article,
	    #mainContent > article .show,
	    #mainContent > article .hide,
	    #mainContent > article .entry-content {
		   /* transition: all .5s;
		    -moz-transition: all .5s;
		    -webkit-transition: all .5s;
		    -o-transition: all .5s;*/
	    }


	    #mainContent > article {
	    	display: block;
	    	width: 100%;
	    	border-bottom: 1px dashed #877B58;
	    }
	    	#mainContent > article:last-child { border: none; }



		#mainContent > article.starred .star:before {
			content: "\f005"; 	/* ikonka hviezdy */
			color: #E3AE0F;
		}


	    /****** Article header = [*] [source] [TITLE] [short] [date/time] *****/

	    	article a[target='_blank'] {
	    		cursor: pointer;
	    	}

			article > header {
				margin: 0 2px;
				padding: .2em;
				cursor: default;
				border-left: 3px solid rgba(0,0,0,0);
				border-right: 3px solid rgba(0,0,0,0);
				color: #C7B594;

				-webkit-transition: all 0.1s ;
				-moz-transition: all    0.1s ;
				-o-transition: all      0.1s ;
				-ms-transition: all     0.1s ;
				transition: all         0.1s ;
			 }
			 article > header:hover {
			 	background-color: rgba(240, 240, 240, .1);
			 	border-left: 3px solid rgba(240, 240, 240, .5);
			 	border-right: 3px solid rgba(240, 240, 240, .5);
			 }
			 article > header.active {
				background-color: rgba(240, 240, 240, .1);
			 }
			 article > header.active .begin {
				display: none;
			 }

			article.starred > header {
				background-color: #655736;
				border-left: 3px solid #FCC41B;
				border-right: 3px solid #FCC41B;
			}

			article.unread > header {
				border-left: 3px solid #FFFFFF;
				border-right: 3px solid #FFFFFF;
			}
			article.unread > header h2 {
			 	color: #FFF;
			}
			article.unread > header > .begin {
				color: #FFF;
				opacity: 1;
			}


			article > header .source {
				width: 80px;
				height: 24px;
				overflow: hidden;
				white-space: nowrap;
				text-decoration: none;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				-icab-text-overflow: ellipsis;
				-khtml-text-overflow: ellipsis;
				-moz-text-overflow: ellipsis;
				-webkit-text-overflow: ellipsis;

				-webkit-transition: all 0s ;
				-moz-transition: all    0s ;
				-o-transition: all      0s ;
				-ms-transition: all     0s ;
				transition: all         0s ;
			}
			article > header .source:hover {
				overflow: visible;
				position: inherit;
				min-width: 80px;
				text-decoration: underline;
				width: auto;
			}



			article > header .externalLink {
				padding-top: 3px;
				padding-right: 8px;
			}

			article > header .externalLink:hover {
				color: #FFF !important;
				text-decoration: none;
			}



			 article > header .tagsContainer {
				display: none;
			 }
			 article > header.active .tagsContainer {
				display: inline-block;
			 }


			article .tagsContainer {
				font-size: 80%;
			}

			article .tags {
				margin: 0 .2em 0 1.6em;
			}

			article .tags li {
				display: inline-block;
				border-radius: .5em;
				/*border-top-left-radius: 0;*/
				padding: .1em .5em;
				margin: 0 .2em;
				background-color: rgba(0,0,0,.16);
				vertical-align: middle;
				/*border: 1px dashed #CFB370;*/
			}
			article .tags li span {
				vertical-align: middle;
			}

			article .tags li .icon-remove {
				/*width: 28px;*/
				/*height: 28px;*/
				color: #E46963;
				line-height: 1.2em;
			}

			article .tags .icon-remove:hover {
				color: #ED473F;
				cursor: pointer;
				/*zoom: 1.28;*/
				/*position: relative;	top: -4px; left: -1px;*/
			}


			article .tags + .addTag {
				color: #A7CD8F;
				cursor: pointer;
				font-size: 1.2em;
				padding: 2px 6px;
				/*border: 2px dashed;*/
				border-color: rgba(0,0,0,.05);
				border-radius: 16px;
			}
			article .tags + .addTag:hover {
				/*border: 2px dashed #99C27A;*/
				color: #5BA530;
				zoom: 1.2;
				position: relative;	top: 1px; left: -2px;
			}

			article span.tag {
				padding: 2px 4px;
				/*border-radius: 4px;*/
			}






		/****** Article header - star *****/

			#mainContent > article .star {
				margin: 0 .5em 0 0;
				padding: 0 .1em;
				line-height: 1.6em;
				color: #DAC994;
				width: 16px;
				position: relative;
				height: 20px;
			}

			#mainContent > article .star:hover:before {
				cursor: pointer;
				content: "\f005";
				color: #D5BC73;
				zoom: 1.2;
				position: relative;
				top: -1px; left: -1px;
				height: 20px;
			}



		/*                               ### Article content
		/*==========================================================================================*/

			article .entry-content {
				/*opacity: .6;*/
				margin: .5em .4em 0 1em;
				/*font-size: 80%;*/
				overflow: hidden;
				/*border: 1px solid blue;*/
			}

			article .entry-content .articleWrapper {
				width: 99%;
				margin: .2em 0 1em;
				overflow: hidden;				/*border: 1px dotted yellow;*/
			}

			article .entry-content .articleContent {
				opacity: .9;
				width: 700px;
				/*padding-left: -2em;*/
				margin: .5em auto;				/*border: 1px dotted white;*/
				display: inline;
			}
			article .entry-content .articleContent div {
				overflow: hidden;
				/*border: 1px dotted;*/
				max-width: 700px;
				margin: 0 auto;
			}

			article .articleContent img {
				display: inline-block;
				float: right;
				padding: .05em;
			}



			/****** Saring panel ********/

				article .sharing {
					opacity: .7;
					border-left: 1px dashed #847659;
					display: inline-block;
					vertical-align: top;
					height: 8em;
					height: 100%;
					margin-left: 1em;
					/*width: 4em;*/
					/*background-color: #000000;*/
					-webkit-transition: all .2s ;
					-moz-transition: all    .2s ;
					-o-transition: all      .2s ;
					-ms-transition: all     .2s ;
					transition: all         .2s ;

				}
				article .sharing:hover {
					opacity: 1;
				}
				article .sharing ul {
					margin: 0;
					height: 100%;
				}
				article .sharing ul li {
					margin: 0 5px;
					/*border: 2px solid rgba(0,0,0,0);*/
					text-align: center;
					
				}
				article .sharing ul li a {
					display: inline-block;
					padding: .2em .2em;
					height: 100%;
					margin-left: -4px;
				}
				article .sharing ul li:hover {
					border-radius: 1em;
				}

				article .sharing a {
					text-decoration: none;
					font-size: 26px;
				}
				article .sharing a:hover {
					color: #FF8C00 !important;
				}

				article .sharing .shareEvent:hover:before {
					content: "\f073";
				}

				article .sharing .pocket {
					/*font-size: 26px;*/
				}

				article .sharing .shareGooglePlus:hover{color: #FF3535 !important;	}
				article .sharing .shareEvent:hover {	color: #87E85E !important;	}
				article .sharing .shareEmail:hover {	color: #60D1E6 !important;	}
				article .sharing .shareFacebook:hover {	color: #4174EB !important;	}
				article .sharing .shareTwitter:hover {	color: #60BCEE !important;	}
				article .sharing .sharePocket:hover {	color: #EE4056 !important;	}




			#mainContent > article a {
				color: #B8AB8D;
			}

			#mainContent > article h2 {
				/*line-height: .8em;*/
				font-size: 85%;
				margin: 0;
				padding: 0;
				display: inline-block;
				padding: 0 .6em;
				font-family: Arial;
			}


			article > header .source,
			article > header .begin,
			article > header .updated {
				font-family: 'open_sanscondensed_light';
				padding: 0 .4em 0 0;
				opacity: .7;
				font-size: 87%;
			}
			article > header .updated {
				opacity: .8;
				padding-left: .5em;
				font-size: 72%;
			}
			article > header .begin {
				/*border: 1px solid;*/
				/*white-space: pre-wrap;*/
				/*text-overflow: ellipsis;*/
					/*white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					-o-text-overflow: ellipsis;*/
				overflow: hidden;
				text-overflow: ellipsis;
				white-space:nowrap;
				display: inline-block;
				width: 400px;
				vertical-align: text-top;
			}

			article > header .beginWrapper {
				display: inline-block;
			}

			article > header .begin::after {
			  content: "...";
			}

			article .openArticle {
				width: 100%;
				display: inline-block;
				text-align: center;
			}
			article .openArticle:hover {
				color: #FFF !important;
			}










    .article h1 {
        font-size: 1.9em;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0;
        border-radius: 3px;
        line-height: 1.3em;
    }

    article.search h3 {
        margin-top: 1em;
    }


    .article .content img,
    .article .post-content img {
        max-width:100% !important;
        height:auto;
        display:block;
    }

    .img-wrapper {
        max-width:90%;
        height:auto;
        position: relative;
        display:block;
        margin:0 auto;
    }


    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
    }
     
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }







	/***** FOOTER ******/

		#mainContent > footer {
		    /*margin: 1em 0;*/
		    padding-left: 5em;
		}

		footer .nav {
		    text-align: center;
		    margin-top: 1.5em;
		    margin-bottom: 1.5em;
		}

		footer .nav a {
		    padding: 0 .5em;
		    font-size: 1.2em;
		    text-decoration: none;
		}

		footer .about {
		    border-top: 1px dashed #d2d2d2;
		    padding: 2.2em 3em;
		    font-size: .7em;
		    -webkit-column-count: 3;
		    -moz-column-count: 3;
		    -ms-column-count: 3;
		    column-count: 3;
		    -webkit-column-gap: 2em;
		    -moz-column-gap: 2em;
		    -ms-column-gap: 2em;
		    column-gap: 2em;
		}

		footer .copy {
		    text-align: center;
		    font-size: .7em;
		    font-style: italic;
		    margin-top: 1em;
		}

		footer .copy,footer .copy a {
		    color: #555;
		    opacity: .64;
		}

		body footer {
			border-top: 2px dashed #9F8142;
			margin-top: 2em;
			height: 100%;
		}








    /*                                ### SEARCH
    /*==========================================================================================*/
        .container header .searchingTime {
            display: inline-block;
            float: right;
            text-align: right;
            position: relative;
            font-size: 80%;
            /*top: -2em;*/
            margin-top: -2em;
        }




    




/*                               MEDIA QUERIES
/*==========================================================================================*/


    @media (min-width: 1600px) {
      body {
        font-size: 20px;
      }
    }

    @media (max-width: 900px) {
		body {
			font-size: 18px;
		}	

		#mainContent > article .entry-content {
			width: auto;
		}
		article .sharing ul li a {
			display: block;
			float: none;
			font-size: 200%;
		}
		article .begin {
			display: none !important;
		}
		article .source {
			float: none;
		}


    }


    @media (max-width: 760px) {

    	#sidebarIcon {
    		display: inline-block;
    	}

		#sidebar {
			top: 2.64em;
			padding-top: 0px;
		}

		#sidebar .closeSidebar {
			display: block;
		}

		.header .menu ul li .showLeftSidebar {
			display: inline-block;
		}


		#mainContent {
	    	margin-left: 6px;
	    }

        .content-wrap {
            width: auto;
            padding: 0 .6em;
        }

        article .updated {
        	display: none;
        }

        article > header {
        	padding: 1em 0;
        }

        article .entry-content .articleContent {
        	display: block;
        	float: none;
        	display: table-header-group;
        }

        article .sharing {
        	display: block;
        	display: table-footer-group;
        	float: none;
        	width: 100%;
        	border-left: 0px;
        }
        	article .sharing ul li,
        	article .sharing ul li a {
        		display: inline-block;
        	}
        	article .sharing ul {
        		text-align: center;
        	}

        
        .header {
            margin: 0.4em 0 2.5em;
            height: 48px !important;
        }

    	header .logo {
    		width: 220px !important;
    		/*border: 1px solid yellow;*/
    		display: none !important;
    	}
    		header .logo a {
    			float: left;
				letter-spacing: normal;
    		}
        
        .header h1 {
            font-size: 1.3em;
            margin-bottom: .1em;
            text-align: center;
            display: inline-block;
            float: left;
        }
        
        .header .description {
            font-size: .7em;
            text-align: center;
            margin-bottom: .3em;
            display: inline-block;
            float: left;
            vertical-align: middle;
            margin-top: 5px;
        }
        
        .header .menu {
            height: 28px;
            margin-top: .75em;
            text-align: left;
        }
        
        .header .menu ul li {
            padding: 0;
            margin: 0;
            float: none;
            display: inline-block;
        }
        
        .header .menu ul li a {
            margin: 0;
            padding: 0 10px;
        }
        
        .header .search {
            float: none;
            text-align: center;
            margin-bottom: .6em;
            display: none;
        }
            .header .search .feed_icon {
                display: none;
            }
        
        .article {
            margin: 0;
            padding: .5em;
        }
        

        
        .article h1 {
            font-size: 1.8em;
            text-align: center;
        }

        .article .articleDateAuthor/*,
        .article .articleDateAuthor p,
        .article .articleDateAuthor span */{
            display: table;
            margin: 0 auto;
            /*float: none !important;*/
            /*text-align: center;*/

        }
        
        .article.intro .content .more {
            text-align: center;
        }

        .article .post-content p {
            font-size: 1.2em;
        }
        
        .article ul.tags {
            float: none;
            text-align: right;
            margin-bottom: 1.7em;
        }
        
        .article ul li.tag {
            float: none;
            display: inline-block;
            margin: 0 3px;
        }
        
        .archive {
            width: 80%;
            margin: 0 auto 2em;
        }
        
        .archive h2 {
            font-size: 1.5em;
        }
        
        .archive * {
            float: none !important;
            line-height: 1.6 !important;
            width: auto !important;
            height: auto !important;
            text-align: left !important;
            border: 0 !important;
            margin: 0 0 .2em !important;
        }
        
        .archive a {
            white-space: normal;
            padding: 0 0 .3em .5em;
        }
        
        div.comment_count {
            text-align: center;
        }
        
        footer .nav {
            margin: 1em 0;
        }
        
        footer .nav a {
            font-size: 1.1em;
        }
        
        footer .about {
            padding: 0;
            font-size: .9em;
            padding-top: 1.6em;
            -webkit-column-count: 1;
            -moz-column-count: 1;
            -ms-column-count: 1;
            column-count: 1;
        }
        
        footer .about p {
            margin-bottom: 1em;
        }

    }





/*##################################################################################################*/
/*                      ~ ~ ~        E F F E C T S        ~ ~ ~
/*##################################################################################################*/




    /*                                LOADING ANIMATION (search)
    /*==========================================================================================*/
    /* Loading Circle */

      #animatedCircles {
      	display: inline-block;
      	z-index: 9999;
      	position: absolute;
      	/*margin-left: 2em;*/ /*right: 1em;*/ left: 2em;
      	display: block;
      }

        .ball {
            background-color: rgba(0,0,0,0);
            border:5px solid rgba(255,255,255,0.9);
            opacity:.9;
            border-top:5px solid rgba(0,0,0,0);
            border-left:5px solid rgba(0,0,0,0);
            border-radius:32px;
            box-shadow: 0 0 35px #EFE9D3;
            width:32px;
            height:32px;
            margin:0 auto;
            -moz-animation:spin .5s infinite linear;
            -webkit-animation:spin .5s infinite linear;
        }

        .ball1 {
            background-color: rgba(0,0,0,0);
            border:5px solid rgba(255,255,255,0.9);
            opacity:.9;
            border-top:5px solid rgba(0,0,0,0);
            border-left:5px solid rgba(0,0,0,0);
            border-radius:32px;
            box-shadow: 0 0 15px #B5B5B5; 
            width:20px;
            height:20px;
            margin:0 auto;
            position:relative;
            top:-36px;
            -moz-animation:spinoff .3s infinite linear;
            -webkit-animation:spinoff .3s infinite linear;
        }

        @-moz-keyframes spin {
            0% { -moz-transform:rotate(0deg); }
            100% { -moz-transform:rotate(360deg); }
        }
        @-moz-keyframes spinoff {
            0% { -moz-transform:rotate(0deg); }
            100% { -moz-transform:rotate(-360deg); }
        }
        @-webkit-keyframes spin {
            0% { -webkit-transform:rotate(0deg); }
            100% { -webkit-transform:rotate(360deg); }
        }
        @-webkit-keyframes spinoff {
            0% { -webkit-transform:rotate(0deg); }
            100% { -webkit-transform:rotate(-360deg); }
        }





			.tagbtn5 {
				font-weight: bold;
				color: #fff;
				border-radius: 5px;
				padding: 0px 4px;
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
				background-image: -webkit-linear-gradient(#8CB458, #88BE52);
				background-image: -moz-linear-gradient(#8CB458, #88BE52);
				background-image: -ms-linear-gradient(#8CB458, #88BE52);
				background-image: linear-gradient(#8CB458, #88BE52));
				border: 1px solid #6A9B28;
			}

