@import url("font-awesome/css/font-awesome.css");
@import url("cssReset+fonts.css");
@import url("../javascripts/alertify.js-0.3.11/alertify.core.css");
@import url("../javascripts/alertify.js-0.3.11/alertify.default.css");
/*@import url("../javascripts/alertify.js-0.3.11/alertify.bootstrap.css");*/


                               /*GENERAL*/
/*==========================================================================================*/

::selection {     background: #2f6f88; }
::-moz-selection{ background: #b7ffb7; }

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

/*** BASE COLORS ***        */
body {
    position: relative;
    font-size: 18px;
    line-height: 1.52;
    text-rendering: optimizeLegibility;
    color: #1D1810;
}

#sidebar a,
article .updated {
    font-family: 'open_sanscondensed_light';
}

.ovf {   overflow: auto; }
.clearfix { zoom : 1; }

.clearfix:before,
.clearfix:after { content : "\0020"; display : block; height : 0; overflow : hidden; }
.clearfix:after { clear : both; }

.left  {   	float: left;    }
.right {	float: right; 	}
.show  {	height: auto; display: block;	}
.hide  {	height: 0px;  display: none;	}


/*                                      ELEMENTS
/*==========================================================================================*/

p {
    margin-bottom: 1.42em;
}

pre {
    font-size: .9em;
    overflow: auto;
    background: #2B2B2B;
    border-radius: .35em;
    margin-bottom: 1.5em;
    padding: .2em .1em;
}

em {
    color: #666;
    font-size: .9em;
    line-height: 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: .8em;
}

h3 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.43;
    margin-bottom: 1.35em;
}

ol,ul {
    margin: 0 1.4em 1.4em 4em;
}

blockquote {
    margin: 1.2em 3em;
    padding-left: 1em;
    font-style: italic;
}

/*                               ### BODY
/*==========================================================================================*/


/***** Left Panel (sidebar) ******/

#sidebar {
    padding-top: 2.8em;
}

#sidebar .nav li:first-child {
    position: static;
}

#sidebar .closeSidebar {
    display: none;
    /*display: inline-block;*/
    float: right;
    /*position: absolute;*/
    color: #B5B5B5;
    background: rgba(200,200,200,.1);
    font-size: 26px;
    margin: .5em .2em;
    padding: .2em .0em;
    width: 2em;
    text-align: center;
    border-radius: 10px;
    margin-top: .2em;
    /*margin-bottom: -1em;*/
    z-index: 99999;
    text-decoration: none;
    overflow: hidden;
}
#sidebar .closeSidebar:hover {
    background: #73150B;
    color: #FFF;
}

#sidebar li a,
#sidebar span {
    font-size: 140%;
}

#sidebar li:hover {
    background: rgba(0,0,0,.1);
}

#leftPanel {
    /* background color is defined in section GENERAL > BASE COLORS */
    margin-top: 3em;
    display: inline-block;
    float: left;
    position: fixed;
    width: 210px !important;
    height: 100%;
    border-top: 2px dashed #4F422F;
    color: #927E56;
}
#leftPanelx {
    /* background color is defined in section GENERAL > BASE COLORS */
    margin-top: 2.72em;
}

#scrollable {
    /*overflow-y: scroll;*/
    /*max-height: 100%;*/
    padding: 1em 10px;
    height: 10em;
    /* !!! TODO !!!  height = document.height - horne menu; */
    height: 80%;
    /*height: auto;*/
    overflow: auto;
}


/***** CONTENT ******/

#articlesMenuButtons {
    margin-bottom: 10px;
    position: fixed;
    z-index: 999;
}


#mainContent {
    padding-top: 0em;
    display: block;
    height: auto;
    overflow: auto;
    padding-top: 50px;
}

#mainContent > article {
    display: block;
    width: 100%;
    border-bottom: 1px dashed #877B58;
}
#mainContent > article:last-child { border: none; }

#mainContent > article.starred .star:before {
    content: "\f005"; 	/* ikonka hviezdy */
    color: #E3AE0F;
}

#mainContent > article.starred h2 {
    /*font-weight: bold;*/
}


/****** Article header = [*] [source] [TITLE] [short] [date/time] *****/

article a[target='_blank'] {
    cursor: pointer;
}

article > header {
    margin: 0 2px;
    padding: .2em;
    cursor: default;
    border-left: 3px solid rgba(0,0,0,0);
    border-right: 3px solid rgba(0,0,0,0);
    color: #4F422F;

    -webkit-transition: all 0.1s ;
    -moz-transition: all    0.1s ;
    -o-transition: all      0.1s ;
    -ms-transition: all     0.1s ;
    transition: all         0.1s ;
}
article > header:hover {
    border-left: 3px solid rgba(240, 240, 240, .5);
    border-right: 3px solid rgba(240, 240, 240, .5);
}
article > header.active,
article > header:hover {
    background-color: rgba(140, 140, 140, 0.20);
}
article > header.active .begin {
    display: none;
}
article > header.active h2 {
    font-weight: bold;
}

article.starred > header {
    background-color: #e8e89b;
    border-left: 3px solid #FCC41B;
    border-right: 3px solid #FCC41B;
}

article.unread > header {
    border-left: 3px solid #E3AE0F;
    border-right: 3px solid #E3AE0F;
}
article.unread > header h2 {
    color: #655736;
    font-weight: bold;
}
article.unread > header * { color: #000000 !important; }
article.unread > header > .begin {
    color: #655736;
    opacity: 1;
}


article > header .source {
    width: 120px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;

    -webkit-transition: all 0s ;
    -moz-transition: all    0s ;
    -o-transition: all      0s ;
    -ms-transition: all     0s ;
    transition: all         0s ;
}
article > header .source:hover {
    overflow: visible;
    position: inherit;
    text-decoration: underline;
    width: auto;
    opacity: 1;
}
article > header .source,
article > header .source:hover {
    min-width: 120px;
}


article > header .externalLink {
    padding-top: 3px;
    padding-right: 8px;
}

article > header .externalLink:hover {
    color: #235586 !important;
    text-decoration: none;
}



/* ********** Article Tags ****************/

#refreshOnlyTagsList, #refreshOnlyTagsList * { cursor: pointer; }

article > header .tagsContainer {
    display: none;
}
article > header.active .tagsContainer {
    display: inline-block;
}


article .tagsContainer {
    font-size: 80%;
}

article .tags {
    margin: 0 .2em 0 1.6em;
}

article .tags li {
    display: inline-block;
    border-radius: .5em;
    /*border-top-left-radius: 0;*/
    padding: .1em .5em;
    margin: 0 .2em;
    background-color: rgba(0,0,0,.16);
    vertical-align: middle;
    /*border: 1px dashed #CFB370;*/
}
article .tags li span {
    vertical-align: middle;
}

article .tags li .icon-remove {
    /*width: 28px;*/
    /*height: 28px;*/
    color: #E46963;
    line-height: 1.2em;
}

article .tags .icon-remove:hover {
    color: #ED473F;
    cursor: pointer;
    /*zoom: 1.28;*/
    /*position: relative;	top: -4px; left: -1px;*/
}


article .tags + .addTag {
    color: #A7CD8F;
    cursor: pointer;
    font-size: 1.2em;
    padding: 2px 6px;
    /*border: 2px dashed;*/
    border-color: rgba(0,0,0,.05);
    border-radius: 16px;
}
article .tags + .addTag:hover {
    /*border: 2px dashed #99C27A;*/
    color: #5BA530;
    zoom: 1.2;
    position: relative;	top: 1px; left: -2px;
}

article span.tag {
    padding: 2px 4px;
    /*border-radius: 4px;*/
}




.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {   display: none; }

.typeahead {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.label-info {
    background-color: #977255;
}


/****** Article header - star *****/

#mainContent > article .star {
    margin: 0 .5em 0 0;
    padding: 0 .1em;
    line-height: 1.6em;
    color: #DAC994;
    width: 16px;
    position: relative;
    height: 20px;
}

#mainContent > article .star:hover:before {
    cursor: pointer;
    content: "\f005";
    color: #D5BC73;
    zoom: 1.2;
    position: relative;
    top: -1px; left: -1px;
    height: 20px;
}


.bootstrap-tagsinput .tag {
    padding-right: 0;
    margin-right: 5px;
}

.bootstrap-tagsinput {
    background-color: inherit !important;
    line-height: normal !important;
    margin-bottom: 0 !important;
    padding: 3px 6px 3px 0;
    font-family: sans-serif;
    font-size: 90%;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: -4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    background: #b00;
    padding: 0 4px 0;
    border-radius: 10px;
    position: relative;
    top: -5px;
    left: 5px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0 2px;
    font-weight: bold;
    position: relative;
    top: -1px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    background: #f00;
}

.label {
    font-size: 100%;
    font-weight: normal;
}



/*                               ### Article content
/*==========================================================================================*/

article .entry-content {
    margin: .5em .4em 0 1em;
    overflow: hidden;
}

article .entry-content .articleWrapper {
    width: 99%;
    margin: .2em 0 1em;
    overflow: hidden;
}

article .entry-content .articleContent {
    width: 800px;
    margin: .5em auto;
    display: inline;
}
article .entry-content .articleContent div {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(82, 68, 50);
}

article .articleContent img {
    display: inline-block;
    float: right;
    padding: .05em;
}



/****** Saring panel ********/

article .sharing {
    opacity: .7;
    border-left: 1px dashed #847659;
    display: inline-block;
    vertical-align: top;
    height: 8em;
    height: 100%;
    margin-left: 1em;
    -webkit-transition: all .2s ;
    -moz-transition: all    .2s ;
    -o-transition: all      .2s ;
    -ms-transition: all     .2s ;
    transition: all         .2s ;

}
article .sharing:hover {
    opacity: 1;
}
article .sharing ul {
    margin: 0;
    height: 100%;
}
article .sharing ul li {
    margin: 0 5px;
    /*border: 2px solid rgba(0,0,0,0);*/
    text-align: center;
    list-style: none;

}
article .sharing ul li a {
    display: inline-block;
    padding: .2em .2em;
    height: 100%;
    margin-left: -4px;
}
article .sharing ul li:hover {
    border-radius: 1em;
}

article .sharing a {
    text-decoration: none;
    font-size: 26px;
}
article .sharing a:hover {
    color: #FF8C00 !important;
}

article .sharing .shareEvent:hover:before {
    content: "\f073";
}

article .sharing .pocket {
    /*font-size: 26px;*/
}

article .sharing .shareGooglePlus:hover{color: #FF3535 !important;	}
article .sharing .shareEvent:hover {	color: #87E85E !important;	}
article .sharing .shareEmail:hover {	color: #60D1E6 !important;	}
article .sharing .shareFacebook:hover {	color: #4174EB !important;	}
article .sharing .shareTwitter:hover {	color: #60BCEE !important;	}
article .sharing .sharePocket:hover {	color: #EE4056 !important;	}




#mainContent > article a {
    color: #543;
}

#mainContent > article h2 {
    /*line-height: .8em;*/
    font-size: 85%;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0 .6em;
    font-family: Arial;
}


article > header .source,
article > header .begin,
article > header .updated {
    font-family: 'open_sanscondensed_light';
    padding: 0 .4em 0 0;
    opacity: .7;
    font-size: 87%;
}
article > header .updated {
    opacity: .8;
    padding-left: .5em;
    font-size: 72%;
}
article > header .begin {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    display: inline-block;
    width: 400px;
    vertical-align: text-top;
}

article > header .beginWrapper {
    display: inline-block;
}

article > header .begin::after {
    content: "...";
}

article .openArticle {
    width: 100%;
    display: inline-block;
    text-align: center;
}
article .openArticle:hover {
    color: rgb(82, 68, 50) !important;
}


.article h1 {
    font-size: 1.9em;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    border-radius: 3px;
    line-height: 1.3em;
}

article.search h3 {
    margin-top: 1em;
}


.article .content img,
.article .post-content img {
    max-width:100% !important;
    height:auto;
    display:block;
}

.img-wrapper {
    max-width:90%;
    height:auto;
    position: relative;
    display:block;
    margin:0 auto;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*                               MEDIA QUERIES
/*==========================================================================================*/


@media (min-width: 1600px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 18px;
    }

    #mainContent > article .entry-content {
        width: auto;
    }
    article .sharing ul li a {
        display: block;
        float: none;
        font-size: 200%;
    }
    article .begin {
        display: none !important;
    }
    article .source {
        float: none;
    }


}


@media (max-width: 760px) {

    #sidebarIcon {
        display: inline-block;
    }

    #sidebar {
        top: 2.64em;
        padding-top: 0px;
    }

    #sidebar .closeSidebar {
        display: block;
    }

    .header .menu ul li .showLeftSidebar {
        display: inline-block;
    }


    #mainContent {
        margin-left: 6px;
    }

    .content-wrap {
        width: auto;
        padding: 0 .6em;
    }

    article .updated {
        display: none;
    }

    article > header {
        padding: 1em 0;
    }

    article .entry-content .articleContent {
        display: block;
        float: none;
        display: table-header-group;
    }

    article .sharing {
        display: block;
        display: table-footer-group;
        float: none;
        width: 100%;
        border-left: 0px;
    }
    article .sharing ul li,
    article .sharing ul li a {
        display: inline-block;
    }
    article .sharing ul {
        text-align: center;
    }

    .article {
        margin: 0;
        padding: .5em;
    }


    .article h1 {
        font-size: 1.8em;
        text-align: center;
    }

    .article .articleDateAuthor/*,
        .article .articleDateAuthor p,
        .article .articleDateAuthor span */{
        display: table;
        margin: 0 auto;
    }

    .article.intro .content .more {
        text-align: center;
    }

    .article .post-content p {
        font-size: 1.2em;
    }

    .article ul.tags {
        float: none;
        text-align: right;
        margin-bottom: 1.7em;
    }

    .article ul li.tag {
        float: none;
        display: inline-block;
        margin: 0 3px;
    }

    .archive {
        width: 80%;
        margin: 0 auto 2em;
    }

    .archive h2 {
        font-size: 1.5em;
    }

    .archive * {
        float: none !important;
        line-height: 1.6 !important;
        width: auto !important;
        height: auto !important;
        text-align: left !important;
        border: 0 !important;
        margin: 0 0 .2em !important;
    }

    .archive a {
        white-space: normal;
        padding: 0 0 .3em .5em;
    }

    div.comment_count {
        text-align: center;
    }
}





/*##################################################################################################*/
/*                      ~ ~ ~        E F F E C T S        ~ ~ ~
/*##################################################################################################*/




/*                                LOADING ANIMATION (search)
/*==========================================================================================*/
/* Loading Circle */

#loadingAnimation {
    display: inline-block;
    z-index: 9999;
    display: block;
    margin: 0 0 0 15em;
}

#fadingBarsG{
    position:relative;
    width:240px;
    height:29px}

.fadingBarsG{
    position:absolute;
    top:0;
    background-color:#000000;
    width:29px;
    height:29px;
    -moz-animation-name:bounce_fadingBarsG;
    -moz-animation-duration:0.5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -webkit-animation-name:bounce_fadingBarsG;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -ms-animation-name:bounce_fadingBarsG;
    -ms-animation-duration:0.5s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    -o-animation-name:bounce_fadingBarsG;
    -o-animation-duration:0.5s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    animation-name:bounce_fadingBarsG;
    animation-duration:0.5s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
}

#fadingBarsG_1{
    left:0;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -ms-animation-delay:0.2s;
    -o-animation-delay:0.2s;
    animation-delay:0.2s;
}

#fadingBarsG_2{
    left:30px;
    -moz-animation-delay:0.25s;
    -webkit-animation-delay:0.25s;
    -ms-animation-delay:0.25s;
    -o-animation-delay:0.25s;
    animation-delay:0.25s;
}

#fadingBarsG_3{
    left:60px;
    -moz-animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
    -ms-animation-delay:0.3s;
    -o-animation-delay:0.3s;
    animation-delay:0.3s;
}

#fadingBarsG_4{
    left:90px;
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#fadingBarsG_5{
    left:120px;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

#fadingBarsG_6{
    left:150px;
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

#fadingBarsG_7{
    left:180px;
    -moz-animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}

#fadingBarsG_8{
    left:210px;
    -moz-animation-delay:0.55s;
    -webkit-animation-delay:0.55s;
    -ms-animation-delay:0.55s;
    -o-animation-delay:0.55s;
    animation-delay:0.55s;
}

@-moz-keyframes bounce_fadingBarsG{
    0% { -moz-transform:scale(1);
         background-color:#000000;  }
    100%{ -moz-transform:scale(.3);
         background-color:#FFFFFF;  }
}
@-webkit-keyframes bounce_fadingBarsG{
    0%{ -webkit-transform:scale(1);
        background-color:#000000;   }
    100%{ -webkit-transform:scale(.3);
         background-color:#FFFFFF;  }
}
@-ms-keyframes bounce_fadingBarsG{
    0%{  -ms-transform:scale(1);
        background-color:#000000;  }
    100%{ -ms-transform:scale(.3);
         background-color:#FFFFFF; }
}
@-o-keyframes bounce_fadingBarsG{
    0%{ -o-transform:scale(1);
        background-color:#000000; }
    100%{ -o-transform:scale(.3);
        background-color:#FFFFFF; }
}
@keyframes bounce_fadingBarsG{
    0%{  transform:scale(1);
        background-color:#000000; }
    100%{ transform:scale(.3);
        background-color:#FFFFFF; }
}