body {
    padding-top: 50px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.form-signup {
    max-width: 670px;
    min-width: 100px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.loginMessage
{
    font-size: 9px;
}

.loginButtons
{
    display: inline;
}