@import "cssReset+fonts.css";

body, html {
	background: #4F422F;
	color: white;
	font-family: 'Georgia';
}
.container {
	width: 100%;
}
.flat-form {
	background: #1D1810;
	margin: 4em auto;
	min-width: 240px;
	width: 420px; /*390px;*/
	height: 340px;
	height: auto;
	position: relative;
	font-family: 'Georgia';
	color: #9E855F;
	border-radius: 1em;
}
.tabs {
	background: #292318;
	height: 40px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
    line-height: 1;
	position: relative;
	display: block;
	margin-bottom: 20px;
	font-family: 'open_sanscondensed_light';
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.tabs li:first-child, .tabs li:first-child a{
	border-top-left-radius: 1em;
}
.tabs li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
.tabs a {
	background: #292318;
	display: block;
	float: left;
	text-decoration: none;
	color: #9E855F;
	font-size: 16px;
	padding: 12px 22px 12px 22px;
}
.tabs li:last-child a {
	border-right: none;
	width: 120px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.tabs a.active {
	background: #1D1810;
	border-right: none;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.form-action {
	font-style: italic;
	padding: 0 20px;
	position: relative;
	padding-bottom: 1.4em;
}

.form-action h1 {
	font-size: 42px;
	padding-bottom: 10px;
}
.form-action p {
	font-size: 12px;
	padding-bottom: 10px;
	line-height: 25px;
}
form {
	padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
	font-family: 'open_sanscondensed_light';
}

form input[type=text],
form input[type=password] {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 15px;
	background: #A68D68;
	border: none;
	color: #292318;
	outline: none;
}

.dark-box {
	background: #5e0400;
	box-shadow: 1px 3px 3px #3d0100 inset;
	height: 40px;
	width: 50px;
}
.form-action .dark-box.bottom {
	position: absolute;
	right: 0;
	bottom: -24px;
}
.tabs + .dark-box.top {
	position: absolute;
	right: 0;
	top: 0px;
}
.show {
	display: block;
}
.hide {
	display: none;
}

.button {
	border: none;
	display: block;
	background: #374E59;
	height: 40px;
	width: 80px;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	/*box-shadow: 0px 3px 1px #2075aa;*/
		-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button:hover {
	background: #1e75aa;
}

.button:active {
	background: #136899;
}

::-webkit-input-placeholder {
	color: #292318;
}
:-moz-placeholder {
	/* Firefox 18- */
color: #292318;
}
::-moz-placeholder {
	/* Firefox 19+ */
color: #292318;
}
:-ms-input-placeholder {
	color: #292318;
}

	@media (max-width: 500px) {
		.flat-form {
			height: auto;
			width:auto;
            margin-top: 1em;
		}
	}

::selection {     background: #6C5A3C; }
::-moz-selection{ background: #6C5A3C; }