@(sourcesGroup: java.util.Set[models.entity.UserSourceGroup], user: securesocial.core.Identity)

@import scala.Predef.String

@zobrazList(prefix : String)  =  {
    <ul id="sitemap">
    @for(grupa <- sourcesGroup) {

        @if(grupa.sourceGroup.path.compare(prefix) == 0) {
            @{ grupa.source.`id` = -1;  }
            <li><a href="#">@grupa.source.title</a></li>
        } else {
            @if(grupa.sourceGroup.path.startsWith(prefix) && grupa.source.id != -1) {
                <li><a href="#">@grupa.sourceGroup.path.substring(grupa.sourceGroup.path.lastIndexOf("/") + 1)</a>
                @zobrazList(grupa.sourceGroup.path)
                </li>
            }
        }
    }
    </ul>
}

@scripts = {
    <script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
}

@main("Articles", Messages("articlePage.title"), scripts) {

       <div class="articlesPageContent">

         <div style="width: 300px; float: left; overflow: auto;">

           @zobrazList("/")
         </div>



         <!-- ############################### Zoznam clankov ################################# -->

           <div id="articlesMenuButtons">

               <div class="buttons btn-group">
                   <button id="refreshArticles" type="button" class="btn btn-default btn-lg">
                       <span class="icon-refresh glyphicon glyphicon-refresh"></span> @Messages("app.refresh")
                   </button>
                   <button id="refreshOnlyStarred" type="button" class="btn btn-default btn-lg">
                       <span class="icon-star"></span> @Messages("app.showStarred") <span id="starredItemsCount" class="badge">?</span>
                   </button>
                   <button id="refreshOnlyUnread" type="button" class="btn btn-default btn-lg">
                       <span class="icon-rss"></span> @Messages("app.showUnread") <span id="unreadItemsCount" class="badge">?</span>
                   </button>

                   @* Filter by tags button *@
                   <div class="btn-group">
                       <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
                           <span class="icon-tag"></span> @Messages("app.showTagged")
                           <span class="caret"></span>
                       </button>
                       <ul id="refreshOnlyTagsList" class="dropdown-menu" role="menu">
                           <li class="divider"></li>
                       </ul>
                   </div>

                   @* Last button (submenu) for adding source *@
                   <div class="btn-group">
                       <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
                           <span class="icon-ellipsis-vertical"></span>
                           <span class="caret"></span>
                       </button>
                       <ul id="refreshOnlyTagsList" class="dropdown-menu" role="menu">
                           <li><a id="addSource" href="#">@Messages("app.addSource")</a></li>
                       </ul>
                   </div>
               </div>

               <div id="loadingAnimation">
                   <div id="fadingBarsG">
                       <div id="fadingBarsG_1" class="fadingBarsG"></div>
                       <div id="fadingBarsG_2" class="fadingBarsG"></div>
                       <div id="fadingBarsG_3" class="fadingBarsG"></div>
                       <div id="fadingBarsG_4" class="fadingBarsG"></div>
                       <div id="fadingBarsG_5" class="fadingBarsG"></div>
                       <div id="fadingBarsG_6" class="fadingBarsG"></div>
                       <div id="fadingBarsG_7" class="fadingBarsG"></div>
                       <div id="fadingBarsG_8" class="fadingBarsG"></div>
                   </div>
               </div>

           </div>


         <div id="mainContent">

         </div>

          <script>
            $('#addSource').popover('show')
          </script>
       </div>

}