@(message: String)

@main("Index", Messages("indexPage.title")) {

    <div class="container">

        @if(flash.contains("success")) {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @flash.get("success")

            </div>
        }

        <div class="jumbotron">
            <div class="">
                <h1>@Messages("welcomeMessage")</h1>
                <p> @Messages("appFullName")</p>
             <!--   <p><a class="btn btn-primary btn-lg" href="@routes.Application.loginScreen()">@Messages("signin.signin")</a></p>     -->

                <p class="loginButtons" style="display: inline" ><a class="btn btn-primary btn-lg" href="/authenticate/google">Google</a></p>
                <p class="loginButtons" style="display: inline"><a class="btn btn-primary btn-lg" href="/authenticate/facebook">Facebook</a></p>
                <br/>
                <p class="loginMessage" style="font-size: 9px; margin-top: 5px" >Pre prihlásenie použite váš Google/Facebook účet</p>
            </div>
        </div>

    </div>

}
