@(title: String, form: Form[Application.Login])


@main("Login", Messages("loginPage.title"), scripts) {
    <div class="container">

        <div class="" id="loginModal">

            <h3>@Messages("loginPage.heading")</h3>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#login" data-toggle="tab">@Messages("menu.account.login")</a></li>
                <li><a href="#create" data-toggle="tab">@Messages("menu.account.signup")</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in" id="login">

                    @helper.form(routes.Application.authenticate) {
                        <div class="form-signin">
                            <h2 class="form-signin-heading text-center">@Messages("loginPage.login.heading")</h2>

                            @if(form.hasGlobalErrors) {
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <p class="alert-danger"> @form.globalError.message </p>
                                </div>
                            }

                            @if(flash.contains("success")) {
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <p class="alert-success"> @flash.get("success") </p>
                                </div>
                            }

                            <input type="text" name="email" class="form-control" placeholder="@Messages("loginPage.login.inputUserName")" autofocus required=""
                            data-toggle="tooltip" data-original-title="zatiaľ funguje meno, heslo : test, test" />
                            <input type="password" name="password" class="form-control" placeholder="@Messages("loginPage.login.inputPassword")" required="" />
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me" /> @Messages("loginPage.login.rememberCheckbox")
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit"> @Messages("loginPage.login.loginButton") </button>
                        </div>
                    }

                    <a href="/authenticate/google">Prihlasenie cez Google</a>

                </div><!-- /tab-pane -->

                <div class="tab-pane fade" id="create">

                    <div class="form-signup">
                        <h2 class="form-signin-heading text-center">@Messages("loginPage.register.heading")</h2>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-3 control-label">@Messages("loginPage.register.usernameLabel")</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" id="inputUserName" placeholder="@Messages("loginPage.register.usernameInput")" autofocus required=""
                                    data-toggle="tooltip" data-original-title="@Messages("loginPage.register.usernameInput.condition")">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName" class="col-lg-3 control-label"> @Messages("loginPage.register.nameLabel") </label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="@Messages("loginPage.register.firstNameInput")">
                                </div>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" id="inputLastName" placeholder="@Messages("loginPage.register.lastNameInput")">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-lg-3 control-label"> @Messages("loginPage.register.emailLabel") </label>
                                <div class="col-lg-9">
                                    <input type="email" class="form-control" id="inputEmail1" placeholder="@Messages("loginPage.register.emailLabel")" value="@@" required=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword1" class="col-lg-3 control-label"> @Messages("loginPage.register.passwordLabel") </label>
                                <div class="col-lg-4">
                                    <input type="password" class="form-control" id="inputPassword1" placeholder="@Messages("loginPage.register.passwordLabel")" required="">
                                </div>
                                <label for="inputPassword1" class="col-lg-1 control-label"> @Messages("loginPage.register.passwordAgain") </label>
                                <div class="col-lg-4">
                                    <input type="password" class="form-control" id="inputPassword2" placeholder="@Messages("loginPage.register.passwordLabel")" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-4">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit"> @Messages("loginPage.register.registerButton") </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- /tab-pane -->

            </div>
        </div>
    </div>
}


    @scripts = {
        <script language="JavaScript">
        //
        // Login Screen
        //
        ( function ( $ ) {

        // Aktivácia ToolTipov
        $ ( 'input' ).tooltip ( { placement : 'bottom' } ) ;


        // Pridavanie '#' do URL (pre taby)
        $ ( '.nav-tabs a' ).click ( function ( e ) {
        $ ( this ).tab ( 'show' ) ;
        window.location.hash = this.hash ;
        $ ( 'html,body' ).scrollTop ( $ ( 'body' ).scrollTop ( ) ) ;
        } ) ;

        // Otvorenie daneho tabu pri priamom otvoreni url so znakom '#IDckom' tabu
        var hash = window.location.hash ;
        hash && $ ( 'ul.nav a[href="' + hash + '"]' ).tab ( 'show' ) ;

        // Otvorenie tabu pri zmene URL
        $ ( window ).on ( 'hashchange', function ( ) {
        var hash = window.location.hash ;
        $ ( '.nav-tabs a[href="' + hash + '"]' ).tab ( 'show' ) ;
        if ( hash == "" )
        $ ( '.nav-tabs a' ).first ( ).tab ( 'show' ) ;
        } ) ;

        } ) ( jQuery ) ;
        </script>
    }


